body {
    margin: auto;
    padding: 0px;
   

}

.main {
    width: 84%;
    height: 471px;
    background-color: #FFFFFF;
    position: absolute;
    /* left: 8%; */
    top: 15%;
    /* transform: translate(-50%, -50%); */
    box-shadow: 2px 2px 30px rgba(66, 57, 238, 0.2);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url("../images/bg.gif"); */
    /* background-repeat: no-repeat; */
    /* background-size: cover;  */
    /* used to cover entire conatiner */

}
.sign-up {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.formgrp {
    display: flex;
    flex-direction: row;
    width: 60vw;
    height: 50px;
    box-shadow: 2px 6px 18px rgba(66, 57, 238, 0.3);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin: 10px;
    /* text-align: center; */
}
.formgrp input {
    height: 12px;
    width: 93%;
    outline: none;
    border: none;
    font-size: 14px;
    margin: 28px;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn{
    /* background-color: black; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 24px;
    width: 45%;
    height: 30px;
    color: white;
    border-radius: 20px;
    font-size: 18px;
    padding: 4px 14px;
    /* border: 2px solid red; */
    cursor: pointer;
    box-shadow: 2px 6px 16px rgba(66, 57, 238, 0.9);
    text-align: center;
    background-color: black;
}

/* ALL MEDIA QUERY COMMANDS */
@media(min-width:768px){
.main{
    width: 668px;
    left: 5%;
}
.formgrp{
    width: 450px;
}
.btn{
    width: 175px;
}
}
@media(min-width:100px) and (max-width:768px){
    .main{
        width: 100%;
    }
}
@media(min-width:100px) and (max-width:500px){
    .formgrp{
        width: 90vw;
    }
}
@media(max-width:476px){
    .btn{
        width: 96px;
    }
}
@media(min-width:1023px){
    body{
        background-image: url(bg.png);
        background-repeat: no-repeat;
        background-position:99% -55%;
        background-size: 30%;
    }
}
@media(min-width:1200px){
    body{
        background-position:95% -20%;
        background-size: 40%;
    }
}
